*{
    margin: 0%;
    padding: 0%;
    font-size: 24px;
}
.box-one{
    margin: 0px;
    padding-bottom: 15px;
    background-color: blue;
    border: 1 solid darkblue;
}
.box-two{
    margin: 0px;
    padding-top: 15px;
    background-color: green;
    border: 0 solid darkgreen;
}
button{
    background-color:aquamarine;
    border-radius: 10px;
}
button:hover{
    text-decoration:none    ;
    transition: 0.9s;
    font-style:italic;
    text-decoration-color:red;
    border-radius: 90px;
    margin-bottom: 10px;
    margin-right:auto;
padding: 2.5%;
    background-color:yellow
    
}

