.Box-1{
    width:100px;
    height:100px;
    float:left;
    background-color: red;
    border: 2px solid black;
    overflow:hidden;
}
.Box-2{
    width:100px;
    height:100px;
    float:right;
    background-color: green;    
    border: 2px solid black;
    overflow:hidden;

}
.Box-3{
    width:100 px;
    height:100px;
    float:none;
    background-color: yellow;
    text-align:center;
    color:blue;
    border: 1px solid black;
}
img:hover {
    opacity: 0.4;
    transition:0.7s;
}